body {
    height: 100%; 
    width: 100%; 
    background-color: black;
}

select {
    width: 300px;
}

.svgborder {
    border: 1px solid white
}

.firstParagraph {
    color: white;
    font-size: 6px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* #zoom_slider {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
} */

/* .slider {
    display: block;
} */
