body {
    height: 100%; 
    width: 100%; 
    background-color: black;
}

select {
    width: 300px;
}

.firstParagraph {
    color: white;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.displayCut {
    font-size: 9px;
    border-top: .5px solid white;
    padding-top: 5px;
    margin-top: 5px;

}

.thinker {
    background-color: aqua;
}
