/* Setup Page Layout */

body {
    height:100%;
    width:100%;
    background-color: black;
    /* overflow:hidden; */
    font-size: 1em;

}
header {
    height:5%;
    width:100%;
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
}
main {
    width: 90%;
    height: 75%;
    margin: 5% auto;

    /* overflow: hidden; */
}
.nav-item-select { margin-top:5px;}



#sidebarLeft {
    height:95%;
    /* overflow: clip; */
    width:100%;
}

#sidebarRight {
    height:95%;
    /* overflow: clip; */
    width:95%;
}

#articleGraph {
    height: 100%;
    width:100%;
    overflow: hidden;
}


/* Panel Area styling information  */
.panelBG {
    background-color: rgb(15, 15, 15);
    border-radius: 1.5em;
    padding: .5em 1em;
    margin-bottom:.5em;
}

.panelHeading {
    color:lightgray;
    border-bottom: 1px rgb(60,60,60) dotted;
    font-size:.9em;
    padding-left: .5em; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}

.panelBGColor {
    background-color: rgb(20, 20, 20);
}

.panelParagraphText {
    color:lightgray;
    font-size: .9em;
    line-height: 1.1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding-left: .5em; 
}

.panelListItem {
    margin:0;
    padding:0;
    margin-left:-2.2em;
    font-size: .8em;
    line-height: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    list-style: none;
}


.footerText {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: .9em;
    color: white;
    z-index: 99;
}

#pageTitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
}


#selectedEntryTitle h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    color:white;
    text-align:center;
}

 .selectMenu {
    width: 200px;
    border-radius: 30px;
 }

.linkCountText {
    font-size: 1.75em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    color: white;
}

.linkCountNumber {
    color: black;
    font-size:30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    border-radius: 50%;
    height:60px;
    width: 60px;
    padding-left:10px;
    padding-top:5px;
    position: absolute;
    top: 15px;
    left: 20px;
}

/* .linkCountText {
    font-size:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    left: 90px;
    top: 25px;
    position: absolute;
} */ */






/* Debug */

.debugBorder {
    border: 1px dashed white;
}

.marginTopBottomHalfEm {
    margin-top:.5em;
    margin-bottom:.5em;
}

.showArticleList {
    font-size: .75em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    color:lightgray;
    margin-left:75%;
}

#articleListDiv {
    height:400px;
    overflow-y: scroll;
}