body {
    height: 100%; 
    width: 100%; 
    background-color: black;
}

select {
    width: 350px;
}

.label, h3 {
    font-family: merriweather, serif;
}

h3 { font-size: 1em;}




.mainLabel {text-anchor: middle;}



.mainNode {
    width:100px;
    height:300px;
    color:white;
    border: 1px solid white
}



/* Detail sidebar styles */

.sidebarContent {
    margin-top:50px
}

.sidebar {
    padding-top:30px;
    /* margin-left:-20p; */
}



.articleDetailH3 {
    color:lightgray;
    border-bottom: 1px lightgray solid;
    font-size:15px;
}

.articleDetailH4 {
    color:lightgray;
    border-bottom: 1px lightgray solid;
    font-size:12px;
}

.articleDetailH5 {
    color:lightgray;
    border-bottom: 1px lightgray dashed;
    font-size:10px;
}


.firstParagraph {
    color: lightgray;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.displayCut {
    font-size: 9px;
    border-top: .5px dashed white;
    margin-top: -15px;

}

#domainMenuForArticles li {
    /* list-style-type: none; */
    color: lightgray;
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:-10px
}

.domainListItem, .domainArticle, .linkDirListItem, .linkArticlesListItem {
    /* list-style-type: none; */
    color: lightgray;
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -40px;
    line-height: 1.1
}

.linkDomainListItem {
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -40px;
    line-height: 1.1
}

.articleShowHide {
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float:right;
    color: lightgray;
    margin-top:-25px;
}

.sepLink {
    font-size: 11px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 'bold';
}

.relatedLinkLines {
    opacity: 0.3;
    stroke-width: 1;
    stroke-dasharray: 3,3;
    stroke: #999;
}


.pageTitle  {
    color:lightgray;
    font-size:15px;
    text-align: center;
    height:50px;
}

.overflow600 {
    overflow: auto;
    height: 600px;
}

.overflow300 {
    overflow: auto;
    height: 300px;
}

#articleListDiv {
    overflow: auto;
    height: 350px;
    width:100%;
}