/* Setup Page Layout */

body, .container-fluid {
    height:100%;
    width:100%;
    background-color: black;
    font-size: 1em;

}

footer {
    display: block;
    /* margin-top: -2%; */
    margin-left: 8%;
    margin-right: 5%;
}


/* Nav Styles */

nav {
    background-image: url('/static/img/articlegraphLogo.svg');
    background-repeat: no-repeat;
    background-size: 2.5em 2.5em;
    border-bottom: none;
    background-position: 1em .6em;
}

.navbar-brand{
    margin-left: 5%;
}

.nav-item-select { 
    margin-top:5px;
    width:15%;
}

.sep-select {
    background-color: rgb(18, 18, 18);
    color:white;
    border-color:  rgb(50, 50, 50);
}

select:focus, select:active, .btn:focus, .btn:active{
    box-shadow: none!important
  }

.custom-select .btn:focus, .custom-select .btn:active {
    box-shadow: none!important;
    outline: none!important;
}


#getRandomEntry {
    background-color: rgb(60,60,60);
    margin-top: .55em;
    margin-left: 3em;
    margin-right: 3em;
    padding: 0 1em;
    border-radius: 10px;
}

#getRandomEntry:hover {
    background-color: rgb(70,70,70);
}

#getRandomEntry:active {
    background-color: rgb(90,90,90);
}

.btn {
    width:50%;
    background-color: rgb(70,70,70);
    color:white;
    border: none;
}

#domainSearchMenu {
    margin-right: 2em;
}


@media screen and (min-resolution: 150dpi) {

    /* nav */

    #navbarSupportedContent {
        margin-left: 11%;
    }

    #sidebarLeft {
        height:100%;
        width:85%;
    }
    
    #sidebarRight {
        height:100%;
        width:100%;
        margin-left: -3.5em;
    }


    #articleListContentArea {
        max-height:400px;
        width:100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #centralNodesContentArea {
        max-height: 150px;
        overflow: hidden;
    }

    #domainArticleListContentArea {
        max-height:300px;
        overflow-y: auto;
        width:100%;
    }

    #exploreTOCContentArea {
        max-height: 175px;
        overflow-y: auto;
    }

    #articleGraph {
        height: 625px;
        width:90%;
        margin: 0 auto;
        margin-bottom: 2%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index:1;
    }

    #recentSearchMenu {
        background-color: rgb(18, 18, 18);
        color:white;
        border-color:  rgb(50, 50, 50);
        margin-top: .4em;
        border-radius: 1.5em;
        width:150px;
        margin-left:-4em;
    }


}

@media screen and (max-resolution: 100dpi) {

    /* nav */
    #navbarSupportedContent {
        margin-left: 13%;
    }

    #getRandomEntry {
        background-color: rgb(60,60,60);
        margin-top: .55em;
        margin-left: 3em;
        margin-right: 3em;
        padding: 0 1em;
        border-radius: 10px;
    }

    #recentSearchMenu {
        background-color: rgb(18, 18, 18);
        color:white;
        border-color:  rgb(50, 50, 50);
        margin-top: .5em;
        border-radius: 1.5em;
        width:200px;
        margin-left:3.5em;
    }

    #domainArticleListContentArea {
        max-height:525px;
        overflow-y: auto;
        width:100%;
    }

    #articleListContentArea {
        max-height:550px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #sidebarLeft {
        height:100%;
        width:85%;
    }
    
    #sidebarRight {
        height:100%;
        width:90%;
    }

    .topRow {
        height: 60px;
    }
    .contentRow {
        height:825px;
    }

    .footerRow {
        height:30px;
    }

    #articleGraph {
        height: 825px;
        width:98%;
        margin: 0 auto;
        margin-bottom: 2%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index:1;
    }
}

/* Select Menu Styles */


/* Panel Area styling information  */



.exploreTOCToggle_collapsed {
    background-image: url('/static/bootstrap-icons/caret-right-fill.svg');
    background-repeat: no-repeat;
    background-size: .9em .9em;
    border-bottom: none;
    background-position: 0 .2em;
}

.exploreTOCToggle_expanded {
    background-image: url('/static/bootstrap-icons/caret-down-fill.svg');
    background-repeat: no-repeat;
    background-size: .9em .9em;
    border-bottom: 1px rgb(60,60,60) dotted;
    border-width: 50%;
    background-position: 0 .2em;
}

.toggleOffBG {
    background-image: url('/static/bootstrap-icons/toggle-off.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.toggleOnBG {
    background-image: url('/static/bootstrap-icons/toggle-on.svg');
    background-repeat: no-repeat;
    background-position: right;
}
.panelBG {
    background-color: rgb(15, 15, 15);
    border-radius: 1em;
    padding-left: 1em;
    padding-bottom: .5em;
    margin-bottom:.3em;
}

.panelBG_graph {
    background-color: rgb(18, 18, 18);
    border-radius: 1.5em;
    padding: 0;
    margin-bottom:.5em;
}




#recentSearchs {
    margin-left: 1em; 
    width:80%;
    position: relative;

}

.custom-select:active {
    outline: none !important;
    box-shadow: none;
 }

.panelHeading {
    color: lightgray;
    border-bottom: 1px rgb(60,60,60) dotted;
    font-size:.8em;
    margin-left: .5em;
    padding-top: .5em; 
    margin-bottom: .3em;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 600;
}


.panelBG_Color {
    background-color: rgb(20, 20, 20);
}

.panelParagraphText {
    color:lightgray;
    font-size: .9em;
    line-height: 1.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: normal;
    padding: 0 .5em;
    padding-right: 1em;
}

.panelDispayCut {
    color:lightgray;
    font-size: .7em;
    text-align: left;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100; 
    padding-top: .5em;
    margin-top: -1.75em;
}

.panelListItem{
    margin-left:-1.2em;
    margin-bottom:.2em;
    padding-left: -.2em;
    font-size: .8em;
    line-height: 1em;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100; 
    list-style: none;
    color:lightgray;
    text-indent: -1.1em;
}


.panelListItem_numbered{
    margin-left:-1.1em;
    margin-bottom:.2em;
    font-size: .8em;
    line-height: 1em;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100; 
    list-style: none;
    color:lightgray;
    text-indent: -1.1em;
    padding-left:.5em;
}


.panelListItem_numbered .badge-pill {
    padding: 0;
    padding-left: 1.25em;
    /* margin-bottom: .3em; */
    width: 2em;
    margin-left: -1em;
    background-color: lightgrey;

}

#toc ul {    
    font-size: .95em;
    line-height: 1em;
    font-family: proxima-nova, sans;
    list-style: none;
    color:lightgray;
    clear: both;
}

#toc ul li ul {
    padding-inline-start: 20px;
}



.footerText {
    font-family: proxima-nova, sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-style: normal;
    font-weight: 400; 
    font-size: .9em;
    color: lightgray;
}


#selectedEntryTitle h1 {
    font-family: proxima-nova, sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-style: normal;
    font-weight: 400; 
    font-size: 1.3em;
    color:white;
    text-align:left;
    margin-top: .7em;
    /* margin-left: 8%; */
}

.label {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 100; 
    font-size: .9em;
}

 .selectMenu {
    width: 10%;
    border-radius: 30px;
 }

.linkCountText {
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: lightgray;
    padding-top: .5em;
}

.linksSharedText {
    font-size: .8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    padding-left: .5em;
}

.sepLink {
    font-style: italic;
    font-size:.9em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin-top: 1em;
    margin-left: -.8em;
    padding-left:1.3em;
    background-image: url('/static/bootstrap-icons/arrow-right-circle.svg');
    background-repeat: no-repeat;
    background-size: .9em .9em;
    background-position: 0 .2em;
    clear: both;
}






/* Debug */

.debugBorder {
    border: 1px dashed white;
}

.marginTopBottomHalfEm {
    margin-top:.5em;
    margin-bottom:.5em;
}

.showArticleList {
    font-size: .75em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    color:lightgray;
    margin-left:75%;
}


.mainLabel {text-anchor: middle;}

.relatedLinkLines {
    opacity: 0.3;
    stroke-width: 1;
    stroke-dasharray: 3,3;
    stroke: #999;
}



