/* Setup Page Layout */

body {
    height:100%;
    width:100%;
    background-color: black;
    overflow:hidden;
    font-size: 1em;

}
header {
    height:5%;
    width:100%;
    background-color: rgb(20, 20, 20);
    margin: 1% auto;
    border-radius: 20px;
}
main {
    width: 90%;
    margin: 1% auto;
    margin-bottom: 1%;
    overflow: hidden;
}

footer {
    height:5%;
    width: 100%;
    background-color: rgb(20, 20, 20);
    border-radius: 20px;
    margin: 1% auto;
}

#sidebarLeft {
    height:95%;
    overflow: clip;
    width:90%;
}

#sidebarRight {
    height:95%;
    overflow: clip;
    width:100%;
}

#articleGraph {
    height: 100%;
    width:100%;
    overflow: hidden;
}


/* Panel Area styling information  */
.panelBG {
    background-color: rgb(15, 15, 15);
    border-radius: 20px;
    padding: 10px;
    margin-bottom:10px;
}

.panelHeading {
    color:lightgray;
    border-bottom: 1px rgb(60,60,60) dotted;
    font-size:1em;
    padding-top:5px;
    padding-left: 10px;
}



.footerText {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: .9em;
    color: white;
    z-index: 99;
}

#pageTitle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
}

#selectedEntryTitle h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    color:white;
    text-align:center;
}

 .selectMenu {
    width: 200px;
    border-radius: 30px;
 }





.linkCountDiv {
    height: 90px;
    position: relative;

}

.linkCountNumber {
    color: black;
    font-size:30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    border-radius: 50%;
    height:60px;
    width: 60px;
    padding-left:10px;
    padding-top:5px;
    position: absolute;
    top: 15px;
    left: 20px;
}

.linkCountText {
    font-size:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    left: 90px;
    top: 25px;
    position: absolute;
} */






/* Debug */

.debugBorder {
    border: 1px dashed white;
}