#aboutPageDiv {
    display: none;
    opacity: 0;

    color: lightgray;
    font-family: proxima-nova, sans-serif;
    font-style: normal;

    width:80%
}

#aboutPageDiv h2 {
    font-size: 1.2em;
    color:#F0DB00;
}

#aboutPageContent {
    position: relative;
    width: 100%;
    overflow-y: auto;
}

#sepDetails {
    width: 40%;
    float: right;
    height: 10em;
    margin-left:2em;
    margin-bottom: 1em;

}