
#selectedEntryTitle h1 {
    font-family: proxima-nova, sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-style: normal;
    font-weight: 400; 
    font-size: 1.3em;
    color:white;
    text-align:left;
    margin-top: .7em;
    margin-left: .7em;
    /* margin-left: 8%; */
}

.textUnderline {text-decoration: underline;}
.textNoUnderline {text-decoration: none;}