

body, .container-fluid {
    height:100%;
    width:100%;
    background-color: black;
    font-size: 1em;

}

footer {
    display: block;
    margin-right: 5%;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400; 
    font-size: .9em;
    color: lightgray;
    text-align: right;

}

#selectedEntryTitle h1 {
    font-family: proxima-nova, sans-serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-style: normal;
    font-weight: 400; 
    font-size: 1.3em;
    color:white;
    text-align:left;
    margin-top: .7em;
    margin-left: .7em;
    /* margin-left: 8%; */
}

.mainArticleLabel {display: none}
.mainArticleNode {display: none}
.mainLabel {text-anchor: middle}

.textUnderline {text-decoration: underline;}
.textNoUnderline {text-decoration: none;}