/* base styles for both boxes */

.baseStylesModeInstructions {
    display: block;
    background-color: rgb(40,40,40);
    color: darkgray;
    font-size: .7em;
    font-family: proxima-nova, sans-serif;
    font-weight: 200;
    border-color: white;
    text-align: left;
    z-index: 99;
}

.baseStylesModeInstructions:hover {
    background-color: rgb(50,50,50);
    color: lightgray
}


/* Graph Mode Area Styles */
#graphMode {
    position: absolute; 
    height:2.5em;
    width:16em;
    padding-top:.5em;
    padding-left: 1em;
    padding-right: 2em;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;

}
.graphModePreview {
    background-image: url('../bootstrap-icons/mouse2.svg');
    background-repeat: no-repeat;
    background-size: 1.35em 1.35em;
    background-position: 11.5em .4em;
}
.graphModeExplore {
    background-image: url('../bootstrap-icons/arrow-bar-down.svg');
    background-repeat: no-repeat;
    background-size: 1.35em 1.35em;
    background-position: 11.5em .4em;
}

/* Graph Instruction Area Styles */
#graphInstructions {
    position: absolute;
    height:3em;
    width:16em;
    padding-top:.5em;
    padding-left: 3.25em;
    left:0;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    background-image: url('../bootstrap-icons/question-circle.svg');
    background-repeat: no-repeat;
    background-size: 1.35em 1.35em;
    background-position: 1.35em .6em;

}

#articleInstructions, #domainInstructions {
    opacity: 0;
    display:none;
}

.graphInstructionArea {
    display: none;
    position: absolute;
    top:0%; left:1%;
    height:99%;
    width:100%;
    z-index:999;
    padding: 1em 1.5em;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: proxima-nova, sans-serif;
    font-weight: 100;
    color: rgb(230,230,230);
    border:none;
    background-color: rgb(25, 25, 25);
}

.instructionsMenu {
    float: right; 
    width: 15em;
    margin-left: 2em;
    margin-bottom: 5em;
    padding: 0 2em;
}

.instructionsMenu h2 {
    font-size: 1em;
    text-decoration: underline;
}

.instructionsMenu .helpMenu li {
    font-size: .9em;
    margin-left: -2.3em;
    padding-right: 3em;
    list-style-type: none;
}

.graphInstructionArea {
    display: none;
}

 .graphInstructionArea h1 {
    font-size: 1.5em;
    color:#F0DB00;
    border-bottom: 1px rgb(60,60,60) dotted;
    background-image: url('../bootstrap-icons/x-circle.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.15em 1.15em;
    padding-bottom: .3em;
}

.graphInstructionArea h2 {
    font-size: 1.4em;
    color: #F0DB00
}

.graphInstructionArea h3 {
    font-size: 1.3em;
    color: #F0DB00
}

.graphInstructionArea h4 {
    font-size: 1.2em;
    color: #F0DB00
}


.graphInstructionArea p {
    font-size: .9em;
}
.graphInstructionArea li {
    font-size: .9em;
    margin-left: -2em;
}

    .logoBg {
        background-image: url('../img/articlegraphLogo.svg');
        background-repeat: no-repeat;
        background-position: right;
    }

/* Media queries */



/* Media queries */
/* 4k 2.5 pixel ratio */
@media only screen  and (max-height: 860px) {
    #graphMode { left:54em; }
    #graphInstructions { top:675px}
}

/* 2 pixel ratio */
@media only screen and (max-height: 960px) {
    #graphMode { left:80em; }
    #graphInstructions {top:825px}
}

/* standard hd */
@media only screen and (max-height: 1080px) {
    #graphMode { left:80em; }
    #graphInstructions {top:825px}
}