
/* Graph Labels */ 

.label, .domainLabelItem {
    font-family: proxima-nova, sans-serif;
    font-size: 1em;
}

.mainArticleLabel {display: none}
.mainArticleNode {display: none}
.mainDomainNode {font-weight: bold;}
.mainLabel {text-anchor: middle}

/* Graph Area Divs - Article Graph  */

#articleListContentArea {
    width:100%;
    max-height:500px;
}
#linkDomainContentArea { 
    width:100%;
    max-height: 325px; 
}

/* Graph Area Divs - Article Details Area Graph  */

#detailsAndTOCDiv {
    width: 40%;
    float: right; 
    overflow: hidden;
    padding-left:2em;
}

#detailsAndTOCDiv h2 {
    font-size:1.1em;
}

#articleDetailsTableDiv {
    width: 100%;
    margin-bottom: 2em;
}

#exploreTOCContentArea {
    width: 100%;
    overflow: hidden;
}

#toc { 
    max-height: 450px; 
    width: 100%;
}

#toc ul, #toc li {    
    list-style: none;
    clear: both;
    margin-bottom: .2em;
    line-height: 1.2em;
}

#toc ul li ul { padding-inline-start: 45px; } 

#toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a  {
    text-decoration: none;
    color:rgb(250,250,250);
    padding-right: 1em;
    font-size: 1em; 
    line-height: 1.1em;

}

#toc ul li a:hover, #toc ul li ul li a:hover {
    text-decoration: underline;
}

#preambleArea { 
    height: 750px; 
    width: 60%; 
}

#preambleArea p {
    color:rgb(250,250,250);

    font-size: 1em;
    line-height: 1.2em;
}

/* Graph Area Divs - Domain Graph  */
#centralNodesContentArea {
    width:100%;
}

#domainArticleListContentArea {
    width:100%;
    margin-bottom:.5em;
    max-height: 450px;
}



/* Panel Styles - Text */
.panelHeading {
    color: lightgray;
    font-size:.8em;
    font-weight: bold;

    margin-left: .5em;
    margin-bottom: .3em;

    padding-top: .5em; 

    border-bottom: 1px rgb(60,60,60) dotted;


}

.panelParagraphText {

    color:rgb(250,250,250);

    font-size: 1em;
    line-height: 1.2em;

    padding: 0 .5em;
    padding-right: 1em;
}

.panelDispayCut {
    color:lightgray;
    font-size: .8em;
    text-align: right;
    margin-top: 2em;
}

.linkCountText {
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: lightgray;
    padding-top: .5em;
}

/* Panel Styles - Toggles */
.toggleOffBG {
    background-image: url('../bootstrap-icons/toggle-off.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.toggleOnBG {
    background-image: url('../bootstrap-icons/toggle-on.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.toggleOffBG_User {
    background-image: url('../bootstrap-icons/toggle-off-user.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.toggleOnBG_User {
    background-image: url('../bootstrap-icons/toggle-on-user.svg');
    background-repeat: no-repeat;
    background-position: right;
}

/* Panel Styles - Backgrounds */

.panelBG {
    background-color: rgb(15, 15, 15);
    border-radius: 1em;
    padding-left: 1em;
    padding-bottom: .5em;
    margin-bottom:.3em;
    width: 100%;
}

.panelBG_graph {
    background-color: rgb(18, 18, 18);
    border-radius: 1.5em;
    padding: 0;
    margin-bottom:.5em;
}

.panelBG_Color {
    background-color: rgb(20, 20, 20);
}

/* Panel Styles - List Items and Domain Details Table */

.panelListItem, .panelListItem_numbered, .domainTypeText, .domainItem {
    font-size: .9em;
    line-height: 1.1em;
    color:lightgray;
}

.panelListItem {

    list-style: none;
    margin-left:-1.1em;
    padding-right: 1em;

    text-indent: -1.1em;
}
.panelListItem_numbered{
    list-style: none;

    margin-left:-1.1em;
    padding-left:.5em;
    padding-right: 1em;


    text-indent: -1.1em;

}
.panelListItem_numbered .badge-pill {
    width: 2em;

    padding: 0;
    padding-left: 1.25em;
    margin-left: -1em;
    background-color: lightgrey;

}
.detailsTable td, .detailsTable th {
    padding: 0;
    vertical-align: top;
    line-height: 1em;
    padding-right:.5em;
}
.domainTypeText {
    width: 40%;
    margin:0;
    padding:0;
    vertical-align: top;
}

.domainItem {
    margin:0;
    padding:0;
    vertical-align: top;
}

/* Panel Styles - Help Items & Callouts*/
.articleDetailsBG {
    position: relative;
    top:98%; 
    left:68%;

    height: 2.1em;
    width: 8.2em;

    margin-bottom: -.5em; 
    padding-right: 1em;
    padding-top: .25em;
    
    font-size: .9em;
    text-align: right;

    border-top-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;

    background-color: rgb(40,40,40);
}

.articleDetailsBG:hover { background-color: rgb(60,60,60) }

.articleDetailsBG_textColor {color: #F0DB36;} 

.calloutBG {
    border-top-left-radius: 1.25em;
    border-bottom-right-radius: 1.5em;
    background-color: rgb(40,40,40);

    margin-top: -.2em;
    margin-bottom: -.5em; 

    padding-left: .6em;
    padding-right: .3em;
    padding-top: .1em;
}

.panelHelp {
    position: relative;
    width:2.5em;
    height: 2.5em;

    background-image: url('../bootstrap-icons/question-circle.svg');
    background-repeat: no-repeat;
    background-size: 1.1em 1.1em;
    background-position: 50% 50%;

}

.panelHelp:hover, .calloutBG:hover {
    background-color: rgb(60,60,60);
}

.helpText { 
    color: #F0DB36;
}

.panelHelpLeftSideBar { top:96%; left:89%; }
.panelHelpRightSideBar { top:96%; left:84%; }


.relatedLinkLines {
    stroke-width: 1;
    stroke-dasharray: 3,3;
    stroke: #999;
}


/* Scroll bar classes */
.scrollbars {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;          
    scrollbar-color: lightgray rgb(60,60,60);   /* scroll thumb & track */
}

.scrollbars::-webkit-scrollbar {
    width: 10px;               
  }
  .scrollbars::-webkit-scrollbar-track {
    background:rgb(60,60,60);        
  }
  .scrollbars::-webkit-scrollbar-thumb {
    background-color: lightgray;    
    border-radius: 20px;       
    border: 1px solid darkgray;  
  }


