/* base styles for both boxes */

.graphModeHelpCallout {
    background-color: rgb(40,40,40);
    color: darkgray;

    border-color: white;
    text-align: left;
    z-index: 99;
}

.graphModeHelpCallout:hover {
    background-color: rgb(50,50,50);
    color: lightgray
}

.graphModeBGImage {
    background-image: url('/static/bootstrap-icons/arrow-clockwise.svg');
    background-repeat: no-repeat;
    background-size: 1.35em 1.35em;
    background-position: 10em .6em;
}

.graphHelpBGImage {
    background-image: url('../bootstrap-icons/question-circle.svg');
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    background-position: 50% 50%;
}

/* Graph Mode Area Styles */
#graphMode {
    position: absolute; 
    height:2.5em;
    width:16em;
    font-size: .85em;
    font-family: proxima-nova, sans-serif;
    font-weight: 200;
    padding-top:.5em;
    padding-left: 2em;
    padding-right: 2em;
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
    opacity: 0;

}

#graphHelp {
    position: absolute; 
    height:2.5em;
    width:3.5em;

    padding-top:.5em;
    padding-left: 1em;
    padding-right: 1.5em;

    border-top-left-radius: 2em;
    border-bottom-right-radius: 1.5em;



}


/* Graph Instruction Area Styles */
#graphTip {
    position: absolute;
    height:4em;
    padding-top:.5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;

    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;

    display: none;

    background-color: rgb(40,40,40);
    color: darkgray;
    font-size: .85em;
    font-family: proxima-nova, sans-serif;
    font-weight: 200;

}

#articleInstructions, #domainInstructions {
    opacity: 0;
    display:none;
}


.graphInstructionArea {
    display: none;
    position: absolute;
    top:0%; left:0%;
    height:100%;
    width:100%;
    overflow: hidden;
    /* overflow-x: hidden;
    overflow-y: auto; */
    z-index:999;
    padding: 1em 1.5em;
    padding-bottom: 4em;
    font-family: proxima-nova, sans-serif;
    font-weight: 200;
    color: rgb(230,230,230);
    border:none;
    background-color: rgb(25, 25, 25);
}

.helpTextArea {
    height:90%;
    overflow-x: hidden;
    overflow-y: auto;    
}


.closePageArea {

    position: absolute;
    color:#F0DB00;
    font-size: 1em;
    background-image: url('../bootstrap-icons/x-circle.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1em 1em;
    padding-right: 2em;

}
 .graphInstructionArea h1, .instructionsPageHeading {
    font-size: 1.5em;
    color:#F0DB00;
    border-bottom: 1px rgb(60,60,60) dotted;
    background-image: url('../bootstrap-icons/x-circle.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1.15em 1.15em;
    padding-bottom: .3em;
}



.graphInstructionArea h2 {
    font-size: 1.4em;
    color: #F0DB00
}




.graphInstructionArea li {
    font-size: 1em;
    margin-left: -2em;
}

    .logoBg {
        background-image: url('../img/articlegraphLogo.svg');
        background-repeat: no-repeat;
        background-position: right;
    }


/* Media queries */
/* 4k 2.5 pixel ratio */
/* @media only screen  and (max-height: 860px) and (min-resolution: 150dpi) and (orientation:landscape) {
    #graphMode{ left:80%;height:2.5em;font-size: .8em; }
    #graphTip { top:95%; height:3em; font-size: .75em;}
    #graphHelp {left: 94%; top: 94%}
    .closePageArea {
        top:94%;
        left:85%;
        font-size: .9em;
    }
    .graphInstructionArea {
        font-size: 1em;
    }
    .graphInstructionArea h1, .instructionsPageHeading {
        font-size: 1.2em;
    }
    .graphInstructionArea h2 {
        font-size: 1.1em;
    }

} */

/* standard hd or 4k 2pixel*/
/* @media only screen and (min-height:900px) and (orientation:landscape){
    #graphMode {  left:83%; }
    #graphTip {top:96%}
    #graphHelp {left: 95%; top: 95%}
    .closePageArea {
        top:94%;
        left:87%;
    }
} */