#homePageDiv {
    display: none;
    opacity: 0;

    color: lightgray;
    font-family: proxima-nova, sans-serif;
    font-style: normal;

    width:80%

}

#homeHeader {
    width:100%;
    position: relative;
    margin-top:3em;
    margin-bottom:2.5em;
    text-align: center;
}

#homePageDiv #homeHeader h1 {
    font-size: 2em;
    position: relative;
    font-weight: 400; 
    display: inline;
    top: .25em;
    margin: 0 1.5em;

}

.articleSVG {
    width: 3em;
    position: relative;
    top: 0;
}

#homePageDiv p {
    font-size: 1.2em;
    font-weight: 200;
    text-align: center;
    width:100%;
}

