
body {
    height:100%;
    width:100%;
    background-color: black;
    font-size: 1em;
    overflow: hidden;

}


#sidebarLeft {
    height:100%;
    width:85%;
    overflow:hidden;
}

#sidebarRight {
    height:100%;
    width:90%;
    overflow: hidden;
}

#mainContent {
    height:100%;
    width:100%;
}

#graphPageDiv {
    width:98%;
    height: 95%;
    margin: 0 auto;
    margin-bottom: 2%;
    overflow: hidden;
    position: absolute;
    top: 0;

}

.topRow {
    height: 60px;
}

.contentRow {
    height:1000px;
}

footer {
    display: block;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400; 
    font-size: .9em;
    color: lightgray;
    text-align: right;
    position: absolute;
    left: 86%;
    top:725px;
}

#copyright {
    text-align: right;
    width: 100%
}

#pageTitle h1 {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 1.3em;
    color:white;
    text-align:left;
    margin-top: .7em;
    margin-left: .7em;
}

/* Text Styles  */

strong {
    font-weight: 800;
    font-style: italic;
}

.mainArticleLabel {display: none}
.mainArticleNode {display: none}
.mainLabel {text-anchor: middle}

.textUnderline {text-decoration: underline;}
.textNoUnderline {text-decoration: none;}

/* 6k 2 pixel ratio
@media only screen  and (max-height: 1620px) and (max-width: 2880px) and (-webkit-device-pixel-ratio: 2) and (orientation:landscape) {
    .contentRow { height:1400px; }
    footer {top:1475px;}
}


/* 5k 2.5 pixel ratio */
/* @media only screen  and (max-height: 1152px) and (max-width: 2048px) and (-webkit-device-pixel-ratio: 2.5) and (orientation:landscape) {
    .contentRow { height:900px; }
    footer {top:950px;}
} */

/* 5k 2 pixel ratio */
/* @media only screen  and (max-height: 1440px) and (max-width: 2560px) and (-webkit-device-pixel-ratio: 2) and (orientation:landscape) {
    .contentRow { height:1200px; }
    footer {top:1250px;}
} */

/* up to 1600x900*/
/* @media only screen and (max-height:1050px) and (max-width: 1680px) and (orientation:landscape) {
    .contentRow { height:700px; }
    footer {top:700px;}
} */


/* 4k 2.5 pixel ratio */
/* @media only screen  and (max-height: 860px) and (max-width: 1536px) and (-webkit-device-pixel-ratio: 2.5) and (orientation:landscape) {
    .contentRow { height:650px; }
    footer {top:725px;}
} */


/* standard hd or 4K 2pixel ratio*/
/* @media only screen and (max-height:1080px) and (max-width: 1920px) and (orientation:landscape) {
    .contentRow { height:900px; }
    footer {top:950px;}
} */



/*mobile*/
/* @media only screen and (max-height:500px)  {
    .contentRow { height:400px; }
} */ */








