
body {
    height:100%;
    width:100%;
    background-color: black;
    font-size: 1em;
    overflow: hidden;

}


#sidebarLeft {
    height:100%;
    width:85%;
    overflow:hidden;
}

#sidebarRight {
    height:100%;
    width:90%;
    overflow: hidden;
}

#mainContent {
    height:100%;
    width:100%;
    position: relative;
}

#graphPageDiv {
    width:98%;
    height: 95%;
    margin: 0 auto;
    margin-bottom: 2%;
    overflow: hidden;
    position: absolute;
    top: 0;

}

#mobileWarning {display: none;}
.topRow {
    height: 50px;
}

.contentRow {
    height:1000px;
}

footer {
    display: block;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 400; 
    font-size: 1em;
    color: lightgray;
    text-align: right;
    position: absolute;
    left: 86%;
    top:725px;
}

#copyright {
    text-align: right;
    width: 100%
}

#pageTitle h1 {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: bold; 
    font-size: 1em;
    color:rgb(240, 219, 0);
    text-align:left;
    margin-top: .7em;
    margin-left: .7em;
}

/* Text Styles  */

strong {
    font-weight: 800;
    font-style: italic;
    color:rgb(240, 219, 0);
}

.mainArticleLabel {display: none}
.mainArticleNode {display: none}
.mainLabel {text-anchor: middle}

.textUnderline {text-decoration: underline;}
.textNoUnderline {text-decoration: none;}








