
/* // 2560 x 1440 */
@media only screen and (max-height: 3384px) and (max-width: 6016px) and (min-height: 1337px) and (min-width: 2496px)  and (orientation:landscape) {
    /* layout */
    .topRow {height:70px;}
    .contentRow { height:1200px; }
    footer {top:1240px;}

    /* nav.css */
    /* nav {background-size: 1.5em 1.5em; background-position: 1em .5em;} */
    /* .navbar { padding: .5em 0; height:40px} */
    #navbarSupportedContent {margin-left: 25em;}
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */
    /* #getRandomEntry {margin-top:0} */
    .navbar-brand{ margin-left: 2.5em; font-size: 1.2em; }
    .searchButton { font-size: 1em; height:2em;}
    .searchTip {font-size: .9em;}
    /* .nav-link, .nav-link a {padding: 0} */

    /* graphmode_instructions.css */
    #graphMode {top: 0%; left:87%; font-size: 1em;}
    #graphTip {top:96%; left: 0%; font-size: 1em;}
    #graphHelp {top: 96%; left: 96%; font-size: 1em;}
    #articleDetailsTip {top: 96%; left: 0%;font-size: 1em;}
    .closePageArea { top:96%; left:90%; font-size: 1em;}


    /* graph.css - article graph divs*/
    #articleListContentArea { max-height:600px;} 
    #linkDomainContentArea { max-height: 350px; }

    /* graph.css - article details divs*/
    #preambleArea { height: 1100px}
    #toc { max-height: 675px}

    /* graph.css - article graph divs*/
    #domainArticleListContentArea { max-height:600px; }
    #centralNodesContentArea{max-height:300px; }

    /* graph.css panel styles */
    .panelHelpLeftSideBar { top:97%; left:92%; font-size: 1em;}
    .panelHelpRightSideBar { top:97%; left:90%; font-size: 1em;}
    .articleDetailsBG { top:102%; left:75%; font-size:0.7em; margin-top:.5em; font-size: 1em;}

    /* text sizing for all pages */
    #pageTitle h1, .graphInstructionsPageHeading, .graphInstructionArea h2 { font-size: 2em };
    #copyright {font-size: 1.1em}
    .label { font-size: 1.1em; }
    .panelHeading { font-size:1.2em; }
    .panelParagraphText {font-size: 1.2em;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: 1.2em; line-height: 1em;}
    .panelListItem_numbered {margin-left: .25em}
    #preambleArea p {font-size: 1.2em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a  {font-size: 1.2em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    #detailsAndTOCDiv h2 {  font-size:1.4em; }
    .graphInstructionArea p, .graphInstructionArea li { font-size:1.2em;}
    .linkCountText {font-size: 1.2em;}
}

/* 1920 x 1080 -- 2 pixel ratio */
@media only screen and (max-height:1080px) and (max-width: 1920px) and (-webkit-device-pixel-ratio: 2) and (orientation:landscape) {
    /* layout.css */
    /* .topRow {height:50px;} */
    /* .contentRow { height:830px; }  */
    /* footer {top:880px;} */

    /* nav.css */
    /* nav {background-size: 2.5em 2.5em; background-position: 1em .6em;} */
    /* .navbar { padding: .5em 1em;} */
    /* #navbarSupportedContent {margin-left: 14em;} */
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */
    /* #getRandomEntry {margin-top:.25em;} */
    /* .navbar-brand{ margin-left: 2.5em; font-size: 1.5em; } */
    /* .searchButton { font-size: .9em; height:2.5em;} */
    /* .searchTip {font-size: .9em;} */

    /* graphmode_instructions.css */
    #graphMode {top: 0%; left:86%;}
    #graphTip {top:95%; left: 0%; font-size: .8em; padding-top: .75em}
    /* #graphHelp {top: 95%; left: 95%; } */
    /* #articleDetailsTip {top: 96%; left: 0%;} */
    .closePageArea { top:96%; left:87%; }

    /* graph.css - article graph divs*/
    /* #articleListContentArea { max-height:500px;} */
    #linkDomainContentArea { max-height: 350px; }

    /* graph.css - article details divs*/
    /* #preambleArea { height: 750px} */
    #toc { max-height: 375px}

    /* graph.css - article graph divs*/
    /* #domainArticleListContentArea { max-height:500px; } */
    
    /* graph.css panel styles */
    /* .panelHelpLeftSideBar { top:96%; left:89%; } */
    /* .panelHelpRightSideBar { top:96%; left:84%; } */
    /* .articleDetailsBG { top:98%; left:68%;} */

    /* graph.css - domain graph divs*/
    #domainArticleListContentArea { max-height:400px; }

    /* text sizing for all pages */
    #pageTitle h1, .graphInstructionsPageHeading, .graphInstructionArea h2 { font-size: 1.3em };
    #copyright {font-size: 1.5em}
    .label { font-size: 1em; }
    .panelHeading { font-size:.9em; }
    .panelParagraphText {font-size: 1.1em;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: 1em;}
    #preambleArea p {font-size: 1em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a   {font-size: 1em}
    #toc ul li ul { padding-inline-start: 45px;  }
    #detailsAndTOCDiv h2 {  font-size:1.1em; }
    .graphInstructionArea p, .graphInstructionArea li { font-size:1em;}
    /* .linkCountText {font-size: 1em;} */
}

/* 1536x860 (4k 2.5 pixel ratio) */
@media only screen  and (max-height: 860px) and (max-width: 1536px) and (-webkit-device-pixel-ratio: 2.5) and (orientation:landscape) {
    /* layout.css */
    .topRow {height:50px;}
    .contentRow { height:610px; } 
    footer {top:670px;}

    /* nav.css */
    /* nav {background-size: 2.5em 2.5em; background-position: 1em .6em;} */
    .navbar { padding: .5em 1em;}
    #navbarSupportedContent {margin-left: 8em;}
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    #recentSearchesDiv  { margin-left:3em; }
    /* #getRandomEntry {margin-top:.25em;} */
    /* .navbar-brand{ margin-left: 2.5em; font-size: 1.5em; } */
    /* .searchButton { font-size: .9em; height:2.5em;} */
    /* .searchTip {font-size: .9em;} */

    /* graphmode_instructions.css */
    #graphMode {top: 0%; left:82%;}
    #graphTip {top:95%; left: 0%; font-size: .7em;}
    #graphHelp {top: 93.5%; left: 94%; }
    /* #articleDetailsTip {top: 96%; left: 0%;} */
    .closePageArea { top:95%; left:84%; }

    /* graph.css - article graph divs*/
    #articleListContentArea { max-height:310px;}
    #linkDomainContentArea { max-height: 150px; }

    /* graph.css - article details divs*/
    /* #preambleArea { height: 750px} */
    #toc { max-height: 225px}

    /* graph.css - article graph divs*/
    #domainArticleListContentArea { max-height:240px; }
    #centralNodesContentArea{max-height:150px; }
    
    /* graph.css panel styles */
    .panelHelpLeftSideBar { top:96%; left:86%; } 
    .panelHelpRightSideBar { top:96%; left:78%; }
    .articleDetailsBG { top:98%; left:57%;}

    /* text sizing for all pages */
    /* #pageTitle h1, .graphInstructionsPageHeading { font-size: 1.1em }; */
    /* #copyright {font-size: .8em} */
    .label { font-size: 1em; }
    /* .panelHeading { font-size:.8em; } */
    .panelParagraphText {font-size: .9em;} 
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .75em;}
    #preambleArea p {font-size: 1em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a   {font-size: .9em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    #detailsAndTOCDiv h2 {  font-size:1em; }
    .graphInstructionArea p, .graphInstructionArea li { font-size:.9em;}
    .linkCountText {font-size: .9em;} 

}

/* // 1280 x 720 2 pixel ratio*/
@media only screen  and (max-height: 800px) and (max-width: 1280px) and (-webkit-device-pixel-ratio: 2) and (orientation:landscape) {
    .topRow {height:35px;}
    .contentRow { height:530px; }
    footer {top:600px;}

    /* graphmode_instructions.css */
    /* #graphMode {top: 0%; left:83%;} */
    #graphTip {top:95%; left: 0%; font-size: .6em;}
    /* #graphHelp {top: 93.5%; left: 94%; } */
    /* #articleDetailsTip {top: 96%; left: 0%;} */
    .closePageArea { top:95%; left:86.5%; }

    /* graph.css - article graph divs*/
    #articleListContentArea { max-height:250px;} 
    #linkDomainContentArea { max-height: 150px; }
    #toc { max-height: 175px}
    #domainArticleListContentArea { max-height:240px; }

    /* text sizing for all pages */
    #pageTitle h1, .graphInstructionsPageHeading { font-size: 1em };
    #copyright {font-size: .8em}
    .label { font-size: 1.1em; }
    .panelHeading { font-size:.8em; }
    .panelParagraphText, .panelParagraphText p {font-size: .9em; line-height: 1.2em;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .8em; line-height: .9em;}
    #preambleArea p {font-size: .85em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a  {font-size: .9em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    #detailsAndTOCDiv h2 {  font-size:.9em; }
    .graphInstructionArea p, .graphInstructionArea li { font-size:.8em;}
    .linkCountText {font-size: .8em;}
}

