/* 6k 2 pixel ratio */
@media only screen  and (max-height: 1620px) and (max-width: 2880px) and (-webkit-device-pixel-ratio: 2) and (orientation:landscape) {
    .contentRow { height:1400px; }
    footer {top:1475px;}
}

/* 5k 2 pixel ratio */
@media only screen  and (max-height: 1440px) and (max-width: 2560px) and (-webkit-device-pixel-ratio: 2) and (orientation:landscape) {
    .contentRow { height:1200px; }
    footer {top:1250px;}
}


/* 5k 2.5 pixel ratio */
@media only screen  and (max-height: 1152px) and (max-width: 2048px) and (-webkit-device-pixel-ratio: 2.5) and (orientation:landscape) {
    .contentRow { height:900px; }
    footer {top:950px;}
}

/* standard hd or 4K 2pixel ratio*/
@media only screen and (max-height:1080px) and (max-width: 1920px) and (orientation:landscape) {
    /* layout.css */
    .contentRow { height:900px; }
    footer {top:950px;}

    /* graphmode_instructions.css */
    #graphMode {  left:83%; }
    #graphTip {top:96%}
    #graphHelp {left: 95%; top: 95%}
    .closePageArea {
        top:94%;
        left:87%;
    }
}

/* up to 1600x900*/
@media only screen and (max-height:1050px) and (max-width: 1680px) and (orientation:landscape) {
    .contentRow { height:700px; }
    footer {top:700px;}
}


/* 4k 2.5 pixel ratio */
@media only screen  and (max-height: 860px) and (max-width: 1536px) and (-webkit-device-pixel-ratio: 2.5) and (orientation:landscape) {
    /* layout.css */
    .contentRow { height:650px; }
    footer {top:725px;}

    /* nav */
    #navbarSupportedContent {
        margin-left: 10em;
    }

    /* graphmode_instructions.css */
    #graphMode{ left:80%;height:2.5em;font-size: .8em; }
    #graphTip { top:95%; height:3em; font-size: .75em;}
    #graphHelp {left: 94%; top: 94%}
    .closePageArea {
        top:94%;
        left:85%;
        font-size: .9em;
    }
    .graphInstructionArea {
        font-size: 1em;
    }
    .graphInstructionArea h1, .instructionsPageHeading {
        font-size: 1.2em;
    }
    .graphInstructionArea h2 {
        font-size: 1.1em;
    }
}

/* // 2560 x 1600 2 pixel ratio */
@media only screen  and (max-height: 800px) and (max-width: 1280px) and (orientation:landscape) {
    /* layout */
    .contentRow { height:590px; }
    footer {top:650px;}

    /* nav */
    #navbarSupportedContent {
        margin-left: 5em;
    }

    #recentSearchesDiv {
        margin-left:3em;
    }

    #aboutPage {
        margin-left: 2em;
    }

    /* graphmode_instructions.css */
    #graphMode {  left:80%; }
    #graphTip {top:95%; height: 2.5em; font-size: .75em;}
    #graphHelp {left: 93%; top: 93%}
    .closePageArea {
        top:94%;
        left:85%;
        font-size: .9em;
    }
    .graphInstructionArea {
        font-size: .9em;
    }
    .graphInstructionArea h1, .instructionsPageHeading {
        font-size: 1.1em;
    }
    .graphInstructionArea h2 {
        font-size: 1em;
    }

    /* graph.css */
    #articleListContentArea {
        max-height:300px;
    }

    #linkDomainContentArea {
        max-height: 225px;
    }

    #domainArticleListContentArea {
        max-height:225px;
    }

    .linkCountText {
        font-size: .75em;
    }

    #toc {
        max-height: 250px;
        width: 100%;
    }
    #toc ul li, #toc ul li ul {
        margin:0;
        padding:0;
        line-height: 1em;
    }


    #toc ul li a, #toc ul li ul a  {
        font-size: .8em;
        line-height: .8em;
    }
    #toc ul li {margin-left:-2em; }
    #toc ul li ul {
        padding-inline-start: 45px;
    }


    #preambleArea {
        height: 750px;
        width: 60%;
    }

    .panelHeading {
        font-size:.75em;
    }

    .panelParagraphText {
        font-size: .8em;
        line-height: .9em;
    }

    .panelListItem {
        font-size: .75em;
        line-height: 1em;
    }

    .panelListItem_numbered {
        font-size: .75em;
        line-height: .9em;
        margin-left: -1.5em;
    }
    .domainItem{
        font-size: .7em;
        line-height: .7em;
    }
    .articleDetailsBG {
        left:58%;
        top:98%;
        font-size: .7em;
    }

    .panelHelp { height:1.5em}
    .panelHelpLeftSideBar {
        left:87%;
        top:95%;
    }
    
    .panelHelpRightSideBar {
        left:81%;
        top:90%;
    }
}





/*mobile*/
@media only screen and (max-height:500px)  {
    .contentRow { height:400px; }
}