/* 1920 x 1080 -- these are also the defaults for the whole site */
@media only screen and (max-height:1080px) and (max-width: 1920px) and (-webkit-device-pixel-ratio: 1) and (orientation:landscape) {
    /* layout.css */
    /* .topRow {height:50px;} */
    /* .contentRow { height:830px; }  */
    /* footer {top:880px;} */

    /* nav.css */
    /* nav {background-size: 2.5em 2.5em; background-position: 1em .6em;} */
    /* .navbar { padding: .5em 1em;} */
    /* #navbarSupportedContent {margin-left: 14em;} */
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */
    /* #getRandomEntry {margin-top:.25em;} */
    /* .navbar-brand{ margin-left: 2.5em; font-size: 1.5em; } */
    /* .searchButton { font-size: .9em; height:2.5em;} */
    /* .searchTip {font-size: .9em;} */

    /* graphmode_instructions.css */
    /* #graphMode {top: 0%; left:85%;} */
    /* #graphTip {top:95%; left: 0%; font-size: .8em;} */
    /* #graphHelp {top: 95%; left: 95%; } */
    /* #articleDetailsTip {top: 96%; left: 0%;} */
    /* .closePageArea { top:96%; left:88%; } */

    /* graph.css - article graph divs*/
    /* #articleListContentArea { max-height:500px;} */
    /* #linkDomainContentArea { max-height: 325px; } */

    /* graph.css - article details divs*/
    /* #preambleArea { height: 750px} */
    /* #toc { max-height: 400px} */

    /* graph.css - article graph divs*/
    /* #domainArticleListContentArea { max-height:450px; } */
    
    /* graph.css panel styles */
    /* .panelHelpLeftSideBar { top:96%; left:89%; } */
    /* .panelHelpRightSideBar { top:96%; left:84%; } */
    /* .articleDetailsBG { top:98%; left:68%;} */

    /* text sizing for all pages */
    /* #pageTitle h1, .graphInstructionsPageHeading { font-size: 1.2em }; */
    /* #copyright {font-size: .8em} */
    /* .label { font-size: 1em; } */
    /* .panelHeading { font-size:.8em; } */
    /* .panelParagraphText {font-size: 1em;} */
    /* .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .9em;} */
    /* #preambleArea p {font-size: 1em;} */
    /* #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a   {font-size: 1em} */
    /* #toc ul li ul { padding-inline-start: 45px;  */
    /* #detailsAndTOCDiv h2 {  font-size:1.1em; } */
    /* .graphInstructionArea p, .graphInstructionArea li { font-size:1em;} */
    /* .linkCountText {font-size: 1em;} */
 
}


/* up to 1680x1050*/
@media only screen and (max-height:1050px) and (max-width: 1680px) and (orientation:landscape) {

    /* layout.css */
    /* .topRow {height:50px;} */
    /* .contentRow { height:830px; }  */
    /* footer {top:880px;} */

    /* nav.css */
    /* nav {background-size: 2.5em 2.5em; background-position: 1em .6em;} */
    /* .navbar { padding: .5em 1em;} */
    #navbarSupportedContent {margin-left: 10em;}
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */
    /* #getRandomEntry {margin-top:.25em;} */
    /* .navbar-brand{ margin-left: 2.5em; font-size: 1.5em; } */
    /* .searchButton { font-size: .9em; height:2.5em;} */
    /* .searchTip {font-size: .9em;} */

    /* graph.css panel styles */
    .panelHelpLeftSideBar { top:96%; left:88%; }
    .panelHelpRightSideBar { top:96%; left:83%; }
    .articleDetailsBG { top:98%; left:63%;}

    /* graph.css - article details divs*/
    #preambleArea { height: 725px}
    #toc { max-height: 375px}

    
    /* graphmode_instructions.css */
    #graphMode {top: 0%; left:84%;}
    #graphTip {top:96%; left: 0%; font-size: .7em; padding-top: .7em}
    /* #graphHelp {top: 95%; left: 95%; } */
    #articleDetailsTip {top: 96%; left: 0%; font-size: .7em; padding-top: .7em}
    .closePageArea { top:96%; left:85%; }

    /* text sizing for all pages */
    /* #pageTitle h1, .graphInstructionsPageHeading { font-size: 1.2em }; */
    /* #copyright {font-size: .8em} */
    /* .label { font-size: 1em; } */
    /* .panelHeading { font-size:.8em; } */
    /* .panelParagraphText {font-size: 1em;} */
    /* .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .9em;} */
    /* #preambleArea p {font-size: 1em;} */
    /* #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a   {font-size: 1em} */
    /* #toc ul li ul { padding-inline-start: 45px;  */
    /* #detailsAndTOCDiv h2 {  font-size:1.1em; } */
    /* .graphInstructionArea p, .graphInstructionArea li { font-size:1em;} */
    /* .linkCountText {font-size: 1em;} */
}

/* up to 1600x900*/
@media only screen and (max-height:900px) and (max-width: 1600px) and (orientation:landscape) {
    /* layout.css */
    .topRow {height:35px;}
    .contentRow { height:670px; }
    footer {top:710px;}

   /* nav.css */
   #navbarSupportedContent {margin-left: 8em;}
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */
    #getRandomEntry {margin-top:0em;}

   /* graphmode_instructions.css */
   /* #graphMode {top: 0%; left:83%;} */
   #graphTip {top:95%; left: 0%; font-size: .7em;}
   #graphHelp {top: 94%; left: 94%; }
   #articleDetailsTip {top: 95%; left: 0%; font-size: .7em}
   .closePageArea { top:95%; left:84%; }

   /* graph.css - article graph divs*/
   #articleListContentArea { max-height:350px;}
   /*#linkDomainContentArea { max-height: 325px; }*/
 
   /* graph.css - article details divs*/
   #preambleArea { height: 650px; }
   #toc { max-height: 225px}

   /* graph.css - article graph divs*/
   #domainArticleListContentArea { max-height:300px; }
   #centralNodesContentArea{max-height:120px; }

   /* graph.css panel styles */
   /* .panelHelpLeftSideBar { top:96%; left:87%; } */
   .panelHelpRightSideBar { top:96%; left:80%; }
   .articleDetailsBG { top:98%; left:60%;} 

    /* text sizing for all pages */
    #pageTitle h1, .graphInstructionsPageHeading { font-size: 1.1em };
    /* #copyright {font-size: .8em} */
    /* .label { font-size: 1em; } */
    /* .panelHeading { font-size:.8em; } */
    .panelParagraphText,  .panelParagraphText p {font-size: .9em;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .9em;}
    #preambleArea p {font-size: .9em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a {font-size: .9em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    #detailsAndTOCDiv h2 {  font-size:1em; }
    .graphInstructionArea p, .graphInstructionArea li { font-size:.9em;}
    .linkCountText {font-size: .9em;}

}

/* 1440x900*/
@media only screen  and (max-height: 900px) and (max-width: 1440px) and (orientation:landscape) {
    /* layout.css */
    .topRow {height:35px;}
    .contentRow { height:665px; } 
    footer {top:710px;}

    /* nav.css */
    #navbarSupportedContent {margin-left: 6em;}
    #aboutPage { margin-left: 1em; }
    #contactPage { margin-left: 1em; }
    #recentSearchesDiv  { margin-left:1em; }

    /* graphmode_instructions.css */
   #graphMode {top: 0%; left:81%;}
   #graphTip {top:95%; left: 0%; font-size: .65em;}
   #graphHelp {top: 94%; left: 93%; }
   #articleDetailsTip {top: 95%; left: 0%; font-size: .65em}
   .closePageArea { top:95%; left:85%; font-size:.8em; }

   /* graph.css - article graph divs*/
   #articleListContentArea { max-height:380px;}
   #linkDomainContentArea { max-height: 350px; }
 
   /* graph.css - article details divs*/
   /* #preambleArea { height: 650px; } */
   #toc { max-height: 250px}

   /* graph.css - domain graph divs*/

   #domainArticleListContentArea { max-height:300px; }
   #centralNodesContentArea{max-height:120px; }

   /* graph.css panel styles */
   .panelHelpLeftSideBar { top:96%; left:86%; }
   .panelHelpRightSideBar { top:96%; left:78%; }
   .articleDetailsBG { top:98%; left:55%;}


      /* text sizing for all pages */
    /* #pageTitle h1, .graphInstructionsPageHeading { font-size: 1.2em }; */
    /* #copyright {font-size: .8em} */
    .label { font-size: 1.1em; }
    /* .panelHeading { font-size:.8em; } */
    .panelParagraphText {font-size: .85em;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .8em;}
    #preambleArea p {font-size: 1em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a {font-size: .9em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    /* #detailsAndTOCDiv h2 {  font-size:1.1em; } */
    .graphInstructionArea p, .graphInstructionArea li { font-size:.9em;}
    .linkCountText {font-size: .85em;}

}

/* 1366 x 768*/
@media only screen  and (max-height: 768px) and (max-width: 1366px) and (orientation:landscape) {
    /* layout */
    .topRow {height:35px;}
    .contentRow { height:550px; }
    footer {top:580px;}

/* nav.css */
    nav {background-size: 1.5em 1.5em; background-position: 1em .5em;}
    .navbar { padding: .5em 0; height:40px}
    #navbarSupportedContent {margin-left: 9em;}
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */
    #getRandomEntry {margin-top:0; padding-top:.35em}
    .navbar-brand{ margin-left: 2.5em; font-size: 1.2em; }
    /* .searchButton { font-size: .8em; height:2em;} */
    .searchTip {font-size: .85em;}
    .nav-link, .nav-link a {padding: 0; padding-top:.5em;}
    .nav-item, .nav-link, .searchButton { font-size: .9em; height:2em;}


    /* graphmode_instructions.css */
    #graphMode {top: 0%; left:83%; font-size: .7em;}
    #graphTip {top:94%; left: 0%; font-size: .6em;}
    #graphHelp {top: 94%; left: 95%; font-size: .7em;} 
    #articleDetailsTip {top: 95%; left: 0%;font-size: .6em;}
    .closePageArea { top:95%; left:85.5%; font-size: .7em;}


    /* graph.css - article graph divs*/
    #articleListContentArea { max-height:250px;} 
    #linkDomainContentArea { max-height: 200px; }
    #preambleArea { height: 750px}
    #toc { max-height: 175px}

    /* graph.css - domain graph divs*/
    #domainArticleListContentArea { max-height:225px; }
    
    /* graph.css panel styles */
    .panelHelpLeftSideBar { top:105%; left:89%; font-size: .7em;}
    .panelHelpRightSideBar { top:105%; left:83%; font-size: .7em;}
    .articleDetailsBG { top:105%; left:62%; font-size:.7em;margin-top:1em}

    /* text sizing for all pages */
    #pageTitle h1, .graphInstructionsPageHeading, .graphInstructionArea h2 { font-size: 1em };
    .pageContent, .pageContent p {font-size: .9em};
    #copyright {font-size: .8em}
    .label { font-size: 1em; }
    .panelHeading { font-size:.7em; }
    .panelParagraphText, .panelParagraphText p {font-size: .85em; line-height: 1.2;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .7em; line-height: .9em;}
    .detailsTable td {line-height: .8em;}
    #preambleArea p {font-size: .9em; line-height: 1.2;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a  {font-size: .85em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    #detailsAndTOCDiv h2 {  font-size:.9em; }
    .graphInstructionArea p, .graphInstructionArea li { font-size:.9em;}
    .linkCountText {font-size: .85em;}
 
}

/* // 1280 x 1024 */
@media only screen  and (max-height: 1024px) and (max-width: 1280px) and (orientation:landscape) {
        /* layout */
        .topRow {height:35px;}
        .contentRow { height:700px; }
        footer {top:750px;}


    /* nav.css */
    /* nav {background-size: 1.5em 1.5em; background-position: 1em .5em;} */
    .navbar { padding: .5em 0; height:40px}
    #navbarSupportedContent {margin-left: 5em;}
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    #recentSearchesDiv  { margin-left:3em; }
    #getRandomEntry {margin-top:0}
    /* .navbar-brand{ margin-left: 2.5em; font-size: 1.2em; } */
    /* .searchButton { font-size: .8em; height:2em;} */
    /* .searchTip {font-size: .9em;} */
    /* .nav-link, .nav-link a {padding: 0} */
    .nav-item, .nav-link, .searchButton { font-size: .9em; height:2em;}

    /* graphmode_instructions.css */
    #graphMode {top: 0%; left:81%; font-size: .7em;}
    #graphTip {top:96%; left: 0%; font-size: .55em;}
    #graphHelp {top: 95%; left: 93.5%; font-size: .8em;}
    #articleDetailsTip {top: 96%; left: 0%;font-size: .6em;}
    .closePageArea { top:96%; left:87%;font-size: .6em; padding-top:.5em; }


    /* graph.css - article graph divs*/
    #articleListContentArea { max-height:250px;} 
    #linkDomainContentArea { max-height: 200px; }

    /* graph.css - article details divs*/
    /* #preambleArea { height: 750px} */
    #toc { max-height: 175px}

    /* graph.css - article graph divs*/
    #domainArticleListContentArea { max-height:190px; }
    #centralNodesContentArea{max-height:100px; }

    /* graph.css panel styles */
    .panelHelpLeftSideBar { top:99%; left:85%; }
    .panelHelpRightSideBar { top:98%; left:78%; }
    .articleDetailsBG { top:103%; left:58%; font-size:0.7em; margin-top:.6em}

    /* text sizing for all pages */
    #pageTitle h1, .graphInstructionsPageHeading, .graphInstructionArea h2  { font-size: .9em };
    #copyright {font-size: .7em}
    .label { font-size: 1em; }
    .panelHeading { font-size:.7em; }
    .panelParagraphText, .panelParagraphText p {font-size: .85em; line-height: 1.2em;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .7em; line-height: .9em;}
    #preambleArea p {font-size: .85em; line-height: 1.2em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a  {font-size: .85em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    #detailsAndTOCDiv h2 {  font-size:.8em; }
    .graphInstructionArea p, .graphInstructionArea li { font-size:.85em;}
    .linkCountText {font-size: .75em;}
}

/* // 1280 x 800 */
@media only screen  and (max-height: 800px) and (max-width: 1280px) and (orientation:landscape) {
    /* layout */
    .topRow {height:35px;}
    .contentRow { height:530px; }
    footer {top:600px;}

    /* nav.css */
    /* nav {background-size: 1.5em 1.5em; background-position: 1em .5em;} */
    /* .navbar { padding: .5em 0; height:40px} */
    #navbarSupportedContent {margin-left: 7em;}
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */
    /* #getRandomEntry {margin-top:0} */
    /* .navbar-brand{ margin-left: 2.5em; font-size: 1.2em; } */
    /* .searchButton { font-size: .8em; height:2em;} */
    /* .searchTip {font-size: .9em;} */
    /* .nav-link, .nav-link a {padding: 0} */
    .nav-item, .nav-link, .searchButton { font-size: .9em; height:2em;}

    /* graphmode_instructions.css */
    #graphMode {top: 0%; left:81%; font-size: .7em;}
    #graphTip {top:95%; left: 0%; font-size: .55em;}
    #graphHelp {top: 94%; left: 93.5%; font-size: .8em;}
    #articleDetailsTip {top: 95%; left: 0%;font-size: .6em;}
    .closePageArea { top:95%; left:87%;font-size: .6em; padding-top:.5em; }


    /* graph.css - article graph divs*/
    #articleListContentArea { max-height:250px;} 
    #linkDomainContentArea { max-height: 200px; }

    /* graph.css - article details divs*/
    /* #preambleArea { height: 750px} */
    #toc { max-height: 175px}

    /* graph.css - article graph divs*/
    #domainArticleListContentArea { max-height:190px; }
    #centralNodesContentArea{max-height:100px; }

    /* graph.css panel styles */
    .panelHelpLeftSideBar { top:99%; left:87%; }
    .panelHelpRightSideBar { top:98%; left:80%; }
    .articleDetailsBG { top:103%; left:58%; font-size:0.7em; margin-top:.6em}

    /* text sizing for all pages */
    #pageTitle h1, .graphInstructionsPageHeading, .graphInstructionArea h2  { font-size: .9em };
    #copyright {font-size: .7em}
    .label { font-size: 1em; }
    .panelHeading { font-size:.7em; }
    .panelParagraphText, .panelParagraphText p {font-size: .85em; line-height: 1.2em;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .7em; line-height: .9em;}
    #preambleArea p {font-size: .85em; line-height: 1.2em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a  {font-size: .85em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    #detailsAndTOCDiv h2 {  font-size:.8em; }
    .graphInstructionArea p, .graphInstructionArea li { font-size:.85em;}
    .linkCountText {font-size: .75em;}
}




/* mobile */
@media only screen  and (max-height: 1024px) and (max-width: 1024px)  {
    /* layout */
    body {overflow: visible;}
    nav, .navbar {display:none}
    .contentRow { height:500px}
    footer,#copyright {top: 600px;text-align: left; left:0}
    #validContent {display: none;}
    #mobileWarning {display: block;}

}
