/* // 2560 x 1440 */
@media only screen  and (min-height: 1400px) and (min-width: 2500px) and (-webkit-device-pixel-ratio: 2) and (orientation:landscape) {
    /* layout */
    .topRow {height:70px;}
    .contentRow { height:1200px; }
    footer {top:1240px;}

    /* nav.css */
    /* nav {background-size: 1.5em 1.5em; background-position: 1em .5em;} */
    /* .navbar { padding: .5em 0; height:40px} */
    #navbarSupportedContent {margin-left: 25em;}
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */
    /* #getRandomEntry {margin-top:0} */
    .navbar-brand{ margin-left: 2.5em; font-size: 1.2em; }
    .searchButton { font-size: 1em; height:2em;}
    .searchTip {font-size: .9em;}
    /* .nav-link, .nav-link a {padding: 0} */

    /* graphmode_instructions.css */
    #graphMode {top: 0%; left:87%; font-size: 1em;}
    #graphTip {top:96%; left: 0%; font-size: 1em;}
    #graphHelp {top: 96%; left: 96%; font-size: 1em;}
    #articleDetailsTip {top: 96%; left: 0%;font-size: 1em;}
    .closePageArea { top:96%; left:90%; font-size: 1em;}


    /* graph.css - article graph divs*/
    #articleListContentArea { max-height:600px;} 
    #linkDomainContentArea { max-height: 350px; }

    /* graph.css - article details divs*/
    #preambleArea { height: 900px}
    #toc { max-height: 700px}

    /* graph.css - article graph divs*/
    #domainArticleListContentArea { max-height:600px; }
    #centralNodesContentArea{max-height:300px; }

    /* graph.css panel styles */
    .panelHelpLeftSideBar { top:97%; left:92%; font-size: 1em;}
    .panelHelpRightSideBar { top:97%; left:90%; font-size: 1em;}
    .articleDetailsBG { top:102%; left:75%; font-size:0.7em; margin-top:.5em; font-size: 1em;}

    /* text sizing for all pages */
    #pageTitle h1, .graphInstructionsPageHeading { font-size: 2em };
    #copyright {font-size: .9em}
    .label { font-size: 1em; }
    .panelHeading { font-size:1.2em; }
    .panelParagraphText {font-size: 1.3em;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: 1.2em; line-height: 1em;}
    .panelListItem_numbered {margin-left: .25em}
    #preambleArea p {font-size: 1.2em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a  {font-size: 1.2em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    #detailsAndTOCDiv h2 {  font-size:1.4em; }
    .graphInstructionArea p, .graphInstructionArea li { font-size:1.2em;}
    .linkCountText {font-size: 1.2em;}
}


/* 1920 x 1080 -- these are also the defaults for the whole site */
@media only screen and (max-height:1080px) and (max-width: 1920px) and (-webkit-device-pixel-ratio: 1) and (orientation:landscape) {
    /* layout.css */
    /* .topRow {height:50px;} */
    /* .contentRow { height:830px; }  */
    /* footer {top:880px;} */

    /* nav.css */
    /* nav {background-size: 2.5em 2.5em; background-position: 1em .6em;} */
    /* .navbar { padding: .5em 1em;} */
    /* #navbarSupportedContent {margin-left: 14em;} */
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */
    /* #getRandomEntry {margin-top:.25em;} */
    /* .navbar-brand{ margin-left: 2.5em; font-size: 1.5em; } */
    /* .searchButton { font-size: .9em; height:2.5em;} */
    /* .searchTip {font-size: .9em;} */

    /* graphmode_instructions.css */
    /* #graphMode {top: 0%; left:85%;} */
    /* #graphTip {top:95%; left: 0%; font-size: .8em;} */
    /* #graphHelp {top: 95%; left: 95%; } */
    /* #articleDetailsTip {top: 96%; left: 0%;} */
    /* .closePageArea { top:96%; left:88%; } */

    /* graph.css - article graph divs*/
    /* #articleListContentArea { max-height:500px;} */
    /* #linkDomainContentArea { max-height: 325px; } */

    /* graph.css - article details divs*/
    /* #preambleArea { height: 750px} */
    /* #toc { max-height: 450px} */

    /* graph.css - article graph divs*/
    /* #domainArticleListContentArea { max-height:450px; } */
    
    /* graph.css panel styles */
    /* .panelHelpLeftSideBar { top:96%; left:89%; } */
    /* .panelHelpRightSideBar { top:96%; left:84%; } */
    /* .articleDetailsBG { top:98%; left:68%;} */

    /* text sizing for all pages */
    /* #pageTitle h1, .graphInstructionsPageHeading { font-size: 1.2em }; */
    /* #copyright {font-size: .8em} */
    /* .label { font-size: 1em; } */
    /* .panelHeading { font-size:.8em; } */
    /* .panelParagraphText {font-size: 1em;} */
    /* .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .9em;} */
    /* #preambleArea p {font-size: 1em;} */
    /* #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a   {font-size: 1em} */
    /* #toc ul li ul { padding-inline-start: 45px;  */
    /* #detailsAndTOCDiv h2 {  font-size:1.1em; } */
    /* .graphInstructionArea p, .graphInstructionArea li { font-size:1em;} */
    /* .linkCountText {font-size: 1em;} */
 
}

/* 1920 x 1080 -- 2 pixel ratio */
@media only screen and (max-height:1080px) and (max-width: 1920px) and (-webkit-device-pixel-ratio: 2) and (orientation:landscape) {
    /* layout.css */
    /* .topRow {height:50px;} */
    /* .contentRow { height:830px; }  */
    /* footer {top:880px;} */

    /* nav.css */
    /* nav {background-size: 2.5em 2.5em; background-position: 1em .6em;} */
    /* .navbar { padding: .5em 1em;} */
    /* #navbarSupportedContent {margin-left: 14em;} */
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */
    /* #getRandomEntry {margin-top:.25em;} */
    /* .navbar-brand{ margin-left: 2.5em; font-size: 1.5em; } */
    /* .searchButton { font-size: .9em; height:2.5em;} */
    /* .searchTip {font-size: .9em;} */

    /* graphmode_instructions.css */
    #graphMode {top: 0%; left:86%;}
    #graphTip {top:95%; left: 0%; font-size: .8em; padding-top: .75em}
    /* #graphHelp {top: 95%; left: 95%; } */
    /* #articleDetailsTip {top: 96%; left: 0%;} */
    .closePageArea { top:96%; left:88%; }

    /* graph.css - article graph divs*/
    /* #articleListContentArea { max-height:500px;} */
    #linkDomainContentArea { max-height: 350px; }

    /* graph.css - article details divs*/
    /* #preambleArea { height: 750px} */
    #toc { max-height: 400px}

    /* graph.css - article graph divs*/
    /* #domainArticleListContentArea { max-height:500px; } */
    
    /* graph.css panel styles */
    /* .panelHelpLeftSideBar { top:96%; left:89%; } */
    /* .panelHelpRightSideBar { top:96%; left:84%; } */
    /* .articleDetailsBG { top:98%; left:68%;} */

    /* graph.css - domain graph divs*/
    #domainArticleListContentArea { max-height:400px; }

    /* text sizing for all pages */
    #pageTitle h1, .graphInstructionsPageHeading { font-size: 1.3em };
    #copyright {font-size: 1.5em}
    .label { font-size: 1em; }
    .panelHeading { font-size:.9em; }
    .panelParagraphText {font-size: 1.1em;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: 1em;}
    #preambleArea p {font-size: 1em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a   {font-size: 1em}
    #toc ul li ul { padding-inline-start: 45px;  }
    #detailsAndTOCDiv h2 {  font-size:1.1em; }
    .graphInstructionArea p, .graphInstructionArea li { font-size:1em;}
    /* .linkCountText {font-size: 1em;} */
}

/* up to 1600x900*/
@media only screen and (max-height:900px) and (max-width: 1600px) and (orientation:landscape) {
    /* layout.css */
    .topRow {height:35px;}
    .contentRow { height:670px; }
    footer {top:710px;}

   /* nav.css */
   /* #navbarSupportedContent {margin-left: 10em;} */
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */

   /* graphmode_instructions.css */
   /* #graphMode {top: 0%; left:83%;} */
   #graphTip {top:95%; left: 0%; font-size: .7em;}
   #graphHelp {top: 94%; left: 94%; }
   #articleDetailsTip {top: 95%; left: 0%; font-size: .7em}
   .closePageArea { top:95%; left:84%; }

   /* graph.css - article graph divs*/
   #articleListContentArea { max-height:350px;}
   /*#linkDomainContentArea { max-height: 325px; }*/
 
   /* graph.css - article details divs*/
   #preambleArea { height: 650px; }
   #toc { max-height: 250px}

   /* graph.css - article graph divs*/
   #domainArticleListContentArea { max-height:300px; }
   #centralNodesContentArea{max-height:120px; }

   /* graph.css panel styles */
   /* .panelHelpLeftSideBar { top:96%; left:87%; } */
   .panelHelpRightSideBar { top:96%; left:80%; }
   .articleDetailsBG { top:98%; left:60%;} 

    /* text sizing for all pages */
    #pageTitle h1, .graphInstructionsPageHeading { font-size: 1.1em };
    /* #copyright {font-size: .8em} */
    /* .label { font-size: 1em; } */
    /* .panelHeading { font-size:.8em; } */
    .panelParagraphText {font-size: .9em;}
    /* .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .9em;} */
    #preambleArea p {font-size: 1em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a {font-size: .9em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    #detailsAndTOCDiv h2 {  font-size:1em; }
    .graphInstructionArea p, .graphInstructionArea li { font-size:.9em;}
    /* .linkCountText {font-size: 1em;} */

}

/* up to 1440x900*/
@media only screen  and (max-height: 900px) and (max-width: 1440px) and (orientation:landscape) {
    /* layout.css */
    .topRow {height:35px;}
    .contentRow { height:665px; } 
    footer {top:710px;}

    /* nav.css */
    #navbarSupportedContent {margin-left: 8em;}
    #aboutPage { margin-left: 1em; }
    #contactPage { margin-left: 1em; }
    #recentSearchesDiv  { margin-left:1em; }

    /* graphmode_instructions.css */
   #graphMode {top: 0%; left:82%;}
   #graphTip {top:95%; left: 0%; font-size: .65em;}
   #graphHelp {top: 94%; left: 93%; }
   #articleDetailsTip {top: 95%; left: 0%; font-size: .65em}
   .closePageArea { top:95%; left:83%; }

   /* graph.css - article graph divs*/
   #articleListContentArea { max-height:380px;}
   #linkDomainContentArea { max-height: 350px; }
 
   /* graph.css - article details divs*/
   /* #preambleArea { height: 650px; } */
   #toc { max-height: 300px}

   /* graph.css - domain graph divs*/

   #domainArticleListContentArea { max-height:300px; }
   #centralNodesContentArea{max-height:120px; }

   /* graph.css panel styles */
   .panelHelpLeftSideBar { top:96%; left:86%; }
   .panelHelpRightSideBar { top:96%; left:78%; }
   .articleDetailsBG { top:98%; left:55%;}


      /* text sizing for all pages */
    /* #pageTitle h1, .graphInstructionsPageHeading { font-size: 1.2em }; */
    /* #copyright {font-size: .8em} */
    .label { font-size: 1.1em; }
    /* .panelHeading { font-size:.8em; } */
    .panelParagraphText {font-size: .85em;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .8em;}
    #preambleArea p {font-size: 1em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a {font-size: .9em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    /* #detailsAndTOCDiv h2 {  font-size:1.1em; } */
    .graphInstructionArea p, .graphInstructionArea li { font-size:.9em;}
    .linkCountText {font-size: .85em;}

}

/* 1536x860 (4k 2.5 pixel ratio) */
@media only screen  and (max-height: 860px) and (max-width: 1536px) and (-webkit-device-pixel-ratio: 2.5) and (orientation:landscape) {
    /* layout.css
    /* .topRow {height:50px;} */
    .contentRow { height:610px; } 
    footer {top:670px;}

    /* nav.css */
    /* nav {background-size: 2.5em 2.5em; background-position: 1em .6em;} */
    /* .navbar { padding: .5em 1em;} */
    #navbarSupportedContent {margin-left: 7em;}
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */
    /* #getRandomEntry {margin-top:.25em;} */
    /* .navbar-brand{ margin-left: 2.5em; font-size: 1.5em; } */
    /* .searchButton { font-size: .9em; height:2.5em;} */
    /* .searchTip {font-size: .9em;} */

    /* graphmode_instructions.css */
    #graphMode {top: 0%; left:83%;}
    #graphTip {top:95%; left: 0%; font-size: .7em;}
    #graphHelp {top: 93.5%; left: 94%; }
    /* #articleDetailsTip {top: 96%; left: 0%;} */
    .closePageArea { top:95%; left:84%; }

    /* graph.css - article graph divs*/
    #articleListContentArea { max-height:310px;}
    #linkDomainContentArea { max-height: 250px; }

    /* graph.css - article details divs*/
    /* #preambleArea { height: 750px} */
    #toc { max-height: 200px}

    /* graph.css - article graph divs*/
    #domainArticleListContentArea { max-height:240px; }
    #centralNodesContentArea{max-height:150px; }
    
    /* graph.css panel styles */
    .panelHelpLeftSideBar { top:96%; left:86%; } 
    .panelHelpRightSideBar { top:96%; left:78%; }
    .articleDetailsBG { top:98%; left:59%;}

    /* text sizing for all pages */
    /* #pageTitle h1, .graphInstructionsPageHeading { font-size: 1.1em }; */
    /* #copyright {font-size: .8em} */
    .label { font-size: .9em; }
    /* .panelHeading { font-size:.8em; } */
    .panelParagraphText {font-size: .9em;} */
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .8em;}
    #preambleArea p {font-size: 1em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a   {font-size: .9em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    #detailsAndTOCDiv h2 {  font-size:1em; }
    .graphInstructionArea p, .graphInstructionArea li { font-size:.9em;}
    .linkCountText {font-size: .9em;} 

}

/* 1366 x 768*/
@media only screen  and (max-height: 768px) and (max-width: 1366px) and (orientation:landscape) {
    /* layout */
    .topRow {height:35px;}
    .contentRow { height:550px; }
    footer {top:580px;}

/* nav.css */
    nav {background-size: 1.5em 1.5em; background-position: 1em .5em;}
    .navbar { padding: .5em 0; height:40px}
    #navbarSupportedContent {margin-left: 9em;}
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */
    #getRandomEntry {margin-top:0}
    .navbar-brand{ margin-left: 2.5em; font-size: 1.2em; }
    .searchButton { font-size: .8em; height:2em;}
    .searchTip {font-size: .9em;}
    .nav-link, .nav-link a {padding: 0}


    /* graphmode_instructions.css */
    #graphMode {top: 0%; left:83%; font-size: .7em;}
    #graphTip {top:94%; left: 0%; font-size: .6em;}
    #graphHelp {top: 93%; left: 93%; }
    #articleDetailsTip {top: 95%; left: 0%;font-size: .6em;}
    .closePageArea { top:94%; left:82%; }


    /* graph.css - article graph divs*/
    #articleListContentArea { max-height:250px;} 
    #linkDomainContentArea { max-height: 200px; }

    /* graph.css - article details divs*/
    /* #preambleArea { height: 750px} */
    #toc { max-height: 200px}

    /* graph.css - article graph divs*/
    #domainArticleListContentArea { max-height:225px; }
    
    /* graph.css panel styles */
    .panelHelpLeftSideBar { top:98%; left:85%; }
    /* .panelHelpRightSideBar { top:96%; left:84%; } */
    .articleDetailsBG { top:99%; left:58%; font-size:.8em}

    /* text sizing for all pages */
    /* #pageTitle h1, .graphInstructionsPageHeading { font-size: 1.1em }; */
    /* #copyright {font-size: .8em} */
    .label { font-size: 1em; }
    /* .panelHeading { font-size:.8em; } */
    .panelParagraphText {font-size: .75em;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .7em; line-height: .9em;}
    .detailsTable td {line-height: .8em;}
    #preambleArea p {font-size: 1em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a  {font-size: .9em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    #detailsAndTOCDiv h2 {  font-size:1em; }
    /* .graphInstructionArea p, .graphInstructionArea li { font-size:.8em;} */
    /* .linkCountText {font-size: 1em;} */
 
}

/* // 1280 x 720 */
@media only screen  and (max-height: 1024px) and (max-width: 1280px) and (orientation:landscape) {
    /* layout */
    .topRow {height:35px;}
    .contentRow { height:530px; }
    footer {top:555px;}

    /* nav.css */
    /* nav {background-size: 1.5em 1.5em; background-position: 1em .5em;} */
    /* .navbar { padding: .5em 0; height:40px} */
    /* #navbarSupportedContent {margin-left: 9em;} */
    /* #aboutPage { margin-left: 5em; } */
    /* #contactPage { margin-left: 2em; } */
    /* #recentSearchesDiv  { margin-left:8em; } */
    /* #getRandomEntry {margin-top:0} */
    /* .navbar-brand{ margin-left: 2.5em; font-size: 1.2em; } */
    /* .searchButton { font-size: .8em; height:2em;} */
    /* .searchTip {font-size: .9em;} */
    /* .nav-link, .nav-link a {padding: 0} */

    /* graphmode_instructions.css */
    #graphMode {top: 0%; left:81%; font-size: .7em;}
    #graphTip {top:95%; left: 0%; font-size: .55em;}
    #graphHelp {top: 92%; left: 92%; }
    #articleDetailsTip {top: 95%; left: 0%;font-size: .6em;}
    .closePageArea { top:94%; left:81%; }


    /* graph.css - article graph divs*/
    #articleListContentArea { max-height:200px;} 
    #linkDomainContentArea { max-height: 150px; }

    /* graph.css - article details divs*/
    /* #preambleArea { height: 750px} */
    #toc { max-height: 150px}

    /* graph.css - article graph divs*/
    #domainArticleListContentArea { max-height:190px; }
    #centralNodesContentArea{max-height:100px; }

    /* graph.css panel styles */
    .panelHelpLeftSideBar { top:97%; left:83%; }
    .panelHelpRightSideBar { top:97%; left:75%; }
    /* .articleDetailsBG { top:102%; left:58%; font-size:0.7em; margin-top:.5em} */

    /* text sizing for all pages */
    #pageTitle h1, .graphInstructionsPageHeading { font-size: 1em };
    #copyright {font-size: .8em}
    .label { font-size: 1em; }
    .panelHeading { font-size:.7em; }
    .panelParagraphText {font-size: .8em;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .7em; line-height: .9em;}
    #preambleArea p {font-size: .9em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a  {font-size: .9em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    #detailsAndTOCDiv h2 {  font-size:.9em; }
    /* .graphInstructionArea p, .graphInstructionArea li { font-size:.8em;} */
    /* .linkCountText {font-size: 1em;} */
}

/* // 1280 x 720 2 pixel ratio*/
@media only screen  and (max-height: 1024px) and (max-width: 1280px) and (-webkit-device-pixel-ratio: 2) and (orientation:landscape) {

    /* text sizing for all pages */
    #pageTitle h1, .graphInstructionsPageHeading { font-size: 1em };
    #copyright {font-size: .8em}
    .label { font-size: 1.1em; }
    .panelHeading { font-size:.7em; }
    .panelParagraphText {font-size: .75em;}
    .panelListItem, .panelListItem_numbered, .domainItem, .domainTypeText { font-size: .8em; line-height: .9em;}
    #preambleArea p {font-size: .95em;}
    #toc ul li, #toc ul li a, #toc ul li ul li, #toc ul li ul li a  {font-size: .9em}
    /* #toc ul li ul { padding-inline-start: 45px;  */
    #detailsAndTOCDiv h2 {  font-size:.9em; }
    .graphInstructionArea p, .graphInstructionArea li { font-size:.8em;}
    /* .linkCountText {font-size: 1em;} */
}
